<%= if :built == @changeset.data.__meta__.state do %>
  <div class="ui ok green property button">Create Property</div>
<% else %>
  <div class="ui ok orange property button">Update Property</div>
<% end %>
