$('#<%= singular %>-dialog').modal('toggle');

$('#<%= singular %>-<%= @<%= singular %>.id %>').replaceWith("<%=
escape_javascript(render("_<%= singular %>.html", conn: @conn, <%= singular %>: @<%= singular %>)) %>");
